// Variables
$primary-color: aquamarine;
$secondary-color: rgb(78, 125, 243);
$tertiary-color: rgb(127, 140, 255);
$text-color: #6b6a6a;
$light-gray: #a7a7a7;
$dark-gray: #5c5b5b;
$lighter-gray: #807e7e;
$box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Card
.job-card {
  border-radius: 25px;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
  padding: 24px;
  display: flex;
  flex-direction: column;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    transform: scale(1.01);
  }

  &-posted-date {
    width: fit-content;
    padding: 4px 6px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
    font-weight: 400;
    line-height: 1.5;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
  }

  &-header {
    display: flex;
    margin-top: 20px;
  }

  &-logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 16px;
  }

  &-wrapper {
    flex-grow: 1;

    p {
      margin: 0;
    }

    &-title {
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 3px !important;
      color: #8b8b8b;
    }

    &-role {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
      text-transform: capitalize;
    }

    &-location {
      font-weight: 500;
      font-size: 11px;
      margin-top: 5px !important;
      color: rgba(0, 0, 0, 0.87);
      text-transform: capitalize;
    }
  }

  &-body {
    flex-grow: 1;

    & .job-card-salary {
      font-size: 14px !important;
      font-weight: 400;
      color: rgb(77, 89, 106);
      margin: 8px 0;
    }

    & .aboutCompany {
      margin: 0;
      font-weight: 500;
      font-size: 17px;
      color: rgba(0, 0, 0, 0.87);
    }

    & .aboutUs {
      margin: 0;
      font-weight: bold;
      font-size: 14px;
    }

    & .job-card-description {
      margin-bottom: 16px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
    }

    & .minExp {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 20px;

      & p {
        margin: 0;
      }

      & .min {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 3px;
        color: #8b8b8b;
      }
      & .yrs  {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-button-apply,
    &-button-unlock {
      border: none;
      border-radius: 8px;
      cursor: pointer;
      padding: 12px 16px;
      font-size: 15px;
      transition: filter 0.3s ease;
    }

    &-button-apply {
      color: black;
      font-size: 16px;
      line-height: 1.75;
      font-weight: 500;
      padding: 8px 18px;
      background-color: $primary-color;
    }

    &-button-unlock {
      background-color: $secondary-color;
      color: white;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        filter: blur(2px);
        margin-right: 8px;
      }

      &:hover {
        filter: none;
      }
    }
  }
}

.job-card-body {
  position: relative;

  .job-card-description {
    // max-height: 5.5em;
    // overflow: hidden;
    opacity: 0.8;
    position: relative;
    margin-bottom: 8px;
  }

  .show-more-button {
    position: absolute;
    bottom: 51%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    color: $tertiary-color;
    cursor: pointer;
  }
}
